<div class="accordion accordion-flush" id="accordionExample" >
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{articoli[0].title}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>{{articoli[0].desc}}</p>
        <p>{{articoli[0].prezzo}}€</p>
        <img src="{{articoli[0].img}}" style="width: 50px; height: 50px;">
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        {{articoli[1].title}}
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>{{articoli[1].desc}}</p>
        <p>{{articoli[1].prezzo}}€</p>
        <img src="{{articoli[1].img}}" style="width: 50px; height: 50px;">
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        {{articoli[2].title}}
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>{{articoli[2].desc}}</p>
        <p>{{articoli[2].prezzo}}€</p>
        <img src="{{articoli[2].img}}" style="width: 50px; height: 50px;">
      </div>
    </div>
  </div>
</div>