<style>
  .div_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    max-width: 400px;
  }

  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
</style>

<div class="div_wrapper">
  <div>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title><strong>Nome: {{giocattoli[valore].nome}}</strong></mat-card-title>
        <mat-card-subtitle>Prezzo: {{giocattoli[valore].prezzo}}€</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{giocattoli[valore].image}} alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{giocattoli[valore].descrizione}}
        </p>
      </mat-card-content>
    </mat-card>
    <!-- <mat-slider min="1" max={{giocattoli.length}} step="1" showTickMarks discrete [displayWith]="formatLabel">
      <input matSliderThumb>
    </mat-slider> -->
    <div>
      <button mat-button (click)="prevIndex()"><mat-icon>chevron_left</mat-icon></button>
      <button mat-button (click)="nextIndex()"><mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
</div>