<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-VCS0ciVY3oCkQSQemZ0kqzQ9TBNppTLOVWm7qcX24w&s" style="width: 100px;height: 100px;border-radius: 50px;">
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="''">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/menu'">Menù</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/catalogo'">Catalogo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>