<div class="container-fluid ">
    <div class="row">
        <div id="containerForm" class="scrollable-div">
            <form [formGroup]="stand" (ngSubmit)="submit()">
                <div class="form-floating mb-3 m-5">
                    <input type="text" class="form-control" id="floatingInput" formControlName="name">
                    <label for="floatingInput">Title</label>
                </div>
                <div class="form-floating mb-3 m-5">
                    <textarea formControlName="description" class="form-control" id="floatingInput"></textarea>
                    <label for="floatingInput">Description</label>
                </div>
                <div class="divButton m-5">
                    <button type="submit" class="btn btn-success">Aggiungi</button>
                    <button type="button" class="btn btn-danger" (click)="close()">Indietro</button>
                </div>
            </form>
        </div>
    </div>
</div>