<body background="/assets/images/logo.png">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <h1 [routerLink]="['']">Arcadia Cinema</h1>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/film']">Film</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/googleForm']">GoogleForm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/catalogo']">Catalogo</a>
          </li>
        </ul>
        <span class="navbar-text">
          <div *ngIf="userLogged()">
            <label (click)="logout()">Logout</label>
          </div>
          <div *ngIf="!userLogged()">
            <label [routerLink]="['/form','r']">Register</label>
          </div>
        </span>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>