<div class="login-box">
  <h2>Login</h2>
  <form [formGroup]="login" (submit)="submit()">
    <div class="user-box">
      <input type="text" name="username" required="" formControlName="username">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="" formControlName="password">
      <label>Password</label>
    </div>
    <a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button type="submit" class="btn btn-outline-info">Submit</button>
    </a>
  </form>
</div>