/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
    background-image: url("assets/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
