<div style="display: flex; justify-content: center;">
    <div class="card mb-3" style="max-width: 540px;" *ngIf="user">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img [src]="transformImg(user.profilePic)" class="img-fluid rounded-start" alt="..."
                    style="object-fit: contain;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(248, 6, 6);">{{user.name | titlecase}} {{user.surname |
                        titlecase}}</h5>
                    <p class="card-text"><a [href]="getMaps()" target="_blank"
                            style="color: rgb(67, 2, 245);">Azienda</a></p>
                    <p><a style="color: rgb(27, 12, 241);">Qr</a></p>
                    <button class="btn btn-outline-danger" (click)="closeCard()">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>